body{
    margin: 0;
    padding: 0;
}

nav{
    transition: background-color 0.8s ease-in-out;
}

header{
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
}

.nav-scrolled{
    background: #FC466B;
    transition: background-color 0.8s ease-in-out;
}


nav span #leopard-brand{
    width: 10vh;
    margin-left: 1em;
}

nav .navbar-links ul{
    list-style-type: none;
}

nav .navbar-links ul li{
    display: inline-block;
}

nav .navbar-links ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    nav{
        background-color: #FC466B;
    }

    nav .navbar-links ul li a{
        font-size: xx-small;
    }

    nav span #leopard-brand{
        width: 10%;
        margin-left: 1em;
    }
    
    
}

nav .navbar-links ul li a:hover{
    color: #ffed62
}

.intro{
    padding-top: 10%;
    height: 100vh;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
}


.main-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title h1{
    color: aliceblue;
    font-size: 15vmin;
}

.main-title p{
    color: rgb(253, 253, 253);
    font-size: 10vmin;
    font-weight: lighter;
}

.main-title h1:hover{
    color: rgb(243, 211, 245);
}

.main-title i{
    font-size: 10vh;
    color: white;
    animation-name: down-arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    bottom: 0;
    position: absolute;
}

@keyframes down-arrow {
    0%{color: white;  bottom: 0;}
    100% {color: #f9ef9c; bottom: 1vmin;}
}

#about-section .subtitle{
    font-size: 8vmin;
    color: white;
}

#about-section{
    margin:0%;
    padding: 5%;
    background-color:#be82d6;
}

#about-section #introducing-text{
    border: 2px solid rgb(228, 207, 228);
    padding: 3%;
    font-weight: 420;
    text-justify: inter-word;
}